.Back{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 4rem;
.Back_btn{
    max-width: 18rem;
    border-radius: 3rem;
    border: none;
background-color: #57419D;
padding:0.8rem 0 0.8rem 0;
box-shadow: 0 8px 16px 0 #AAAACC;

.Back_link{

    text-decoration: none;
    padding:0.8rem 9rem 0.8rem 8.5rem;
    color: #fff;
    }
}
}