@use '../../src/components/dogpage/infomationBox';
@use '../../src/components/dogpage/footerMenu';
@use '../../src/components/dogpage/scrollbar';

.dogs {
padding-bottom: 5rem;
    .top_container {

        display: flex;
        justify-content: space-between;

        .pfp_box {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem 1rem;


            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
            }


        }

    }
    .notifi_btn {
        border-radius: 10rem;
        border: none;

        width: 1%;
        height: 1.5rem;
        color: #5533EA;
        padding: 1rem;
        background-color: #F5F5FA;
        box-shadow: 0 8px 16px 0 #AAAACC;
    }
    


    
    
}

     .dog_scroll{
        text-align: center;
         overflow-y:hidden;
             &::-webkit-scrollbar {
         display: none;
     }
     }