

:root {
    margin: 0;
  background-color: #292929;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0 auto;
    font-family: "Lato", sans-serif;

  max-width: 20rem;


  background-color: #F5F5FA;

.icon{
  color: #57419D;
}
}


