

:root {
    margin: 0;
  background-color: #292929;
}

body {
  margin: 0 auto;
    font-family: "Lato", sans-serif;

  max-width: 20rem;

  background-color: #F5F5FA;
p{
  color: #292929;
}
.icon{
  color: #57419D;
}
}


